<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uob.ibm.textmessaging.ar_ai_messaging_uob">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
